<div class="login-form">
    <div class="login-form_title">
        <h1>Вход в панель администратора</h1>
        <p>Введите логин и пароль</p>
    </div>
    <form action="/login" method="POST">
        <div class="blockinput">
            <i class="fas fa-user"></i>
            <input type="text" name="username" placeholder="Логин">
        </div>
        <div class="blockinput">
            <i class="fas fa-key"></i>
            <input type="text" name="password" placeholder="Пароль">
        </div>  
        <button type="submit">Войти</button>
    </form>
</div>