<div class="admin-panel__sitebar">
    <div class="admin-panel__title">Express-pizza</div>
    <div class="admin-panel_item">
        <hr>
        <div class="admin-panel__item-title"><p>Каталог</p></div>
        <div class="admin-panel_item">
            <a href="#">
                <span><i class="fas fa-align-center"></i>Категории</span>
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        </div>
        <div class="admin-panel_item">
            <a href="#">
                <span><i class="fas fa-hamburger"></i></i>Товары</span>
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        </div>
        <div class="admin-panel_item">
            <a href="#">
                <span><i class="fas fa-sliders-h"></i>Характеристики</span>
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        </div>
        <div class="admin-panel_item">
            <a href="#">
                <span><i class="fas fa-cog"></i>Опции</span>
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        </div>
        <hr>
        <div class="admin-panel__item-title"><p>Дизайн</p></div>
        <div class="admin-panel_item">
            <a href="#">
                <span><i class="fas fa-archive"></i>Item</span>
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        </div>
        <div class="admin-panel_item">
            <a href="#">
                <span><i class="fas fa-archive"></i>Item</span>
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        </div>
        <div class="admin-panel_item">
            <a href="#">
                <span><i class="fas fa-archive"></i>Item</span>
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        </div>
    </div>
</div>

