<div class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-wrapper__logo header-wrapper__item">
                <img src="user/img/logo.jpg" height="80px" alt="logotype">
            </div>
            <div class="header-wrapper_delivery header-wrapper__item">
                <div class="header-wrapper__time">
                    <p><i class="far fa-clock"></i>Пн-Пт: 08-20</p>
                    <p><i class="far fa-clock"></i>Cб-Вс: 10-20</p>
                </div>
            </div>
            <div class="header-wrapper__phone header-wrapper__item">
                <a href="#"><i class="fas fa-mobile-alt"></i>(050) 448 28 16</a>
                <a href="#"><i class="fas fa-mobile-alt"></i>(073) 448 28 16</a>
                <a href="#"><i class="fas fa-mobile-alt"></i>(099) 448 28 16</a>
            </div>
            <div class="header-wrapper_basket header-wrapper__item">
                <div class="basket-wrapper">
                    <i class="fas fa-shopping-basket"></i>
                    <span class="header-wrapper_count">5</span>
                    <span class="header-wrapper_money">350 грн </span>
                </div>
            </div>
            <div class="header-wrapper_language header-wrapper__item">
                <select name="language" id="language">
                    <option value="ru">ru</option>
                    <option value="ua">ua</option>
                </select>
            </div>
        </div>
    </div>
</div>