<div class="menu-navigation">
    <div class="container">
        <nav class="main-menu">
            <ul class="main-menu__list">
                <li class="main-menu__item"><i class="fas fa-home"></i><a href="/">Главная</a></li>
                <li class="main-menu__item"><i class="fas fa-pizza-slice"></i><a href="/pizza">Пицца</a></li>
                <li class="main-menu__item"><i class="fas fa-inbox"></i><a href="/sushi">Суши</a></li>
                <li class="main-menu__item"><i class="fas fa-prescription-bottle"></i><a href="/water">Напитки</a></li>
                <li class="main-menu__item"><i class="fas fa-motorcycle"></i><a href="/delivery">Доставка</a></li>
                <li class="main-menu__item"><i class="fas fa-percentage"></i><a href="/stock">Акции</a></li>
            </ul>
            {{> search }}
        </nav>
    </div>
</div>