<div class="search-from">
    <form action="/" method="GET">
        <input type="text" name="search" id="seacrh">
        <button type="submit" class="btn-search"><i class="fas fa-search"></i></button>
    </form>
</div>