<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/css/main.css">
    <title>Express-pizza Admin Panel</title>
</head>
<body>
    <div class="admin-panel">
        <div class="admin-panel__sitebar">
            <div class="admin-panel__title">Express-pizza</div>
            <div class="admin-panel_item">
                <hr>
                <div class="admin-panel__item-title"><p>Статистика</p></div>
                <div class="admin-panel_item">
                    <a href="/">
                        <span><i class="fas fa-align-center"></i>Статистика</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="admin-panel__item-title"><p>Каталог</p></div>
                <div class="admin-panel_item">
                    <a href="/category">
                        <span><i class="fas fa-align-center"></i>Категории</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="admin-panel_item">
                    <a href="/product">
                        <span><i class="fas fa-hamburger"></i></i>Товары</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="admin-panel_item">
                    <a href="/attribute">
                        <span><i class="fas fa-sliders-h"></i>Атрибуты</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="admin-panel_item">
                    <a href="/option">
                        <span><i class="fas fa-cog"></i>Опции</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="admin-panel__item-title"><p>Продажи</p></div>
                <div class="admin-panel_item">
                    <a href="/order">
                        <span><i class="fas fa-archive"></i>Заказы</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="admin-panel__item-title"><p>Дизайн</p></div>
                <div class="admin-panel_item">
                    <a href="#">
                        <span><i class="fas fa-archive"></i>Item</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="admin-panel_item">
                    <a href="#">
                        <span><i class="fas fa-archive"></i>Item</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                <div class="admin-panel_item">
                    <a href="#">
                        <span><i class="fas fa-archive"></i>Item</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        {{{ body }}}
    </div>
    <script src="https://kit.fontawesome.com/97e5db9e95.js" crossorigin="anonymous"></script>
</body>
</html>