body {
    clear: both;
    margin: 0;
    padding: 0;
}
.admin-panel {
    display: flex;
    height: 100vh;
    
}
.admin-panel__title {
    text-align: center;
    font-size: 24px;
    color: #1A1F25;
    margin-top: 15px;
    margin-bottom: 30px;
}
.admin-panel__item-title {
    display: flex;
    color: #1A1F25;
    font-size: 24px;
    justify-content: center;
}
.admin-panel__sitebar {
    background: #F1F2F4;
    height: 100%;
    width: 250px;;
    border-right: 1px solid #1A1F25;
}


.admin-panel_item a {
    color: #1A1F25;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: .4s;
    text-decoration: none;
    border-bottom: 1px solid lightgrey;
}
.admin-panel_item a:hover {
    background: #1A1F25;
    color: #F1F2F4;
    cursor: pointer;
    transition: .4s;
}
.item-active {
    background: #F1F2F4;
    color: #1A1F25;
}
.admin-panel_item span i {
    margin-right: 10px;
}
